################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Find-Steam-or-GoG-game-by-appID/v17
/.vs
